body{
font-family: 'PT Sans', sans-serif;, Helvetica, Arial, sans-serif;
}

.container-fluid{
  padding: 0;

}

/* ICOMOON ----------------------------------------------------------------------------------------------*/
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?3fhxc8');
  src:  url('../fonts/icomoon.eot?3fhxc8#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?3fhxc8') format('truetype'),
    url('../fonts/icomoon.woff?3fhxc8') format('woff'),
    url('../fonts/icomoon.svg?3fhxc8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-skype:before {
  content: "\e901";
}
.icon-github-with-circle:before {
  content: "\e902";
}
.icon-bars:before {
  content: "\e903";
}
.icon-chevron-with-circle-down:before {
  content: "\e900";
}
.icon-chevron-with-circle-left:before {
  content: "\e905";
}
.icon-chevron-with-circle-right:before {
  content: "\e904";
}
.icon-image-inverted:before {
  content: "\e906";
}
.icon-mail:before {
  content: "\e907";
}
/* /ICOMOON ----------------------------------------------------------------------------------------------*/

/* NAVIGATION BAR ----------------------------------------------------------------------------------------------*/
.navbar{
  border-radius: 0;
}
.nav-item a{
  color: white;
  font-size: 1.1em;
}

.activenav a{
  color: #01a093;
}
a:hover, .nav-item :hover, .navbarname :hover{
  color: #20ecbe;
}


.navbar-brand{
  color: #e4f4f3;
  margin-right: 50px;
  font-size: 1.3em;
}

.navbar-toggler{
  margin-left: -50px;
  color: white;
}

.navstyle{
  background-color: #1b1b1b;
}

.socialmediaicons{
  color: white;
  font-size: 1.2em;
  margin-top: 5px;
  text-decoration: none;
}

.socialmediaicons a:link{
  text-decoration: none;
}



/* /NAVIGATION BAR ----------------------------------------------------------------------------------------------*/

/* Footer ----------------------------------------------------------------------------------------------*/
.footer{
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: black;
  height: 6vh;
}

.copyrighttext{
  color: rgba(156, 156, 156, 0.5);
  margin-top: 12px;
  font-size: 0.8em;
  margin-right: 10px;
}

/* /Footer ----------------------------------------------------------------------------------------------*/

/* Portfolio main page ----------------------------------------------------------------------------------------------*/


.portfoliobox {
  border: 1px solid #01c6ae;
  position: relative;
  text-align: center;
  width: 30%;
  display: inline-block;
  margin-top: 13vh;
  margin-left: 13.5vw;
}

.portfoliobox:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.portfoliobox h4{
  margin-top: 15px;
}

.std-content {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../images/std-thumbnail.png");
  background-position: top;
  background-repeat: no-repeat;

  font-size: 2em;
  padding-top: 20%;
}
.rtm-content {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../images/rtm-thumbnail.png");
  background-position: top;
  background-repeat: no-repeat;

  font-size: 2em;
  padding-top: 20%;
}

.box-label{
  position: absolute;
  width: 100%;
  bottom:0;
  background-color: #e4f4f3;
  border-top: solid 1px #01c6ae;
  height: 12%;
  color: #01a093;
}

.box-label h4{
  color:
}

.viewmorebtn, .viewmorebtn:visited{
  margin-top: 1%;
  opacity: 0;
  border-radius: 20px;
  width: 130px;
  background-color: #aee4df;
  border: 2px solid #005f63;
  position: relative;
  height: auto;
}

.viewmorebtn:hover, .viewmorebtn:focus, .viewmorebtn:active, .viewmorebtn.active, .open>.dropdown-toggle.viewmorebtn{
  color: #fff;
   background-color: #20ecbe;
   border-color: #005f63;
}

.smallericons{
  font-size: 0.85em;

}

.btn-primary{
  background-color: #aee4df;
  border: 2px solid #005f63;
  border-radius: 20px;
  color: black;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary{
  color: #fff;
   background-color: #20ecbe;
   border-color: #005f63;
}


.opacityzero{
  opacity: 0;
}
.slideinanimation{
  /* opacity animation */
  -webkit-animation: opacitymed 1.5s;
  -moz-animation:    opacitymed 1.5s;
  -o-animation:      opacitymed 1.5s;
  animation:         opacitymed 1.5s;
  /* movement animation */
  -webkit-animation: slidefrombottom 1.5s;
  -moz-animation:    slidefrombottom 1.5s;
  -o-animation:      slidefrombottom 1.5s;
  animation:         slidefrombottom 1.5s;
}




@-webkit-keyframes opacitymed {
  0%, 25%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes opacitymed {
  0%, 25%  { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes opacitymed {
  0%, 25%  { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes opacitymed {
  0%, 25%  { opacity: 0; }
  100% { opacity: 1; }
}
@-webkit-keyframes slidefrombottom {
  0%  { transform: translate(0px,800px)}
  100% { transform: translate(0px,0px)}
}
@-moz-keyframes slidefrombottom {
  0% { transform: translate(0px,800px)}
  100% { transform: translate(0px,0px)}
}
@-o-keyframes slidefrombottom {
  0% { transform: translate(0px,800px)}
  100% { transform: translate(0px,0px)}
}
@keyframes slidefrombottom {
  0% { transform: translate(0px,800px)}
  100% { transform: translate(0px,0px)}
}


/* /Portfolio main page ----------------------------------------------------------------------------------------------*/
.portfolio h2{
  margin-top: 80px;
  color: #01a093;
  font-size: 3.0em;
  font-family: 'Lato', sans-serif;

}

.portfolio h4{
  margin-bottom: 20px;
  color: #53554F;
}

.portfolio p{
  color: #3F4441;
  margin-left: 50px;
  margin-top: -265px;
}

.backbtn{
  margin-right:50px;
}

.viewlessbtn:hover{
  color: white !important;
}
.portfolio-image{
  position: relative;
  margin-top: 120px;

}

.std-desktop{
  position: relative;
  transform: skewY(6deg);
  -webkit-box-shadow: 11px 10px 33px 0px rgba(66,66,66,0.7);
  -moz-box-shadow: 11px 10px 33px 0px rgba(66,66,66,0.7);
  box-shadow: 11px 10px 33px 0px rgba(66,66,66,0.7);

}
.std-mobile{
  transform: skewY(6deg);
  position: absolute;
  bottom: -10px;
  -webkit-box-shadow: 11px 10px 33px 0px rgba(66,66,66,0.7);
  -moz-box-shadow: 11px 10px 33px 0px rgba(66,66,66,0.7);
  box-shadow: 11px 10px 33px 0px rgba(66,66,66,0.7);
}


.portfolio-hr{
  border: 1px solid #019875;
  width: 80%;
  margin-top: -20px;
}

.portfolio-btns-div{
  margin-top: -8vh;
}

.portfolio-btns{
  border-radius: 20px;
  width: 130px;
  background-color: #aee4df;
  border: 2px solid #005f63;
  position: relative;
  height: auto;
  color: black;
}

.portfolio-btns:hover, .portfolio-btns:focus, .portfolio-btns:active, .portfolio-btns.active, .open>.dropdown-toggle.portfolio-btns{
   color: #fff;
   background-color: #20ecbe;
   border-color: #005f63;
}


.slideawayanimation{
  /* opacity animation */
  -webkit-animation: opacitymed 1.5s;
  -moz-animation:    opacitymed 1.5s;
  -o-animation:      opacitymed 1.5s;
  animation:         opacitymed 1.5s;
  /* movement animation */
  -webkit-animation: slidetobottom 1.5s;
  -moz-animation:    slidetobottom 1.5s;
  -o-animation:      slidetobottom 1.5s;
  animation:         slidetobottom 1.5s;
}




@-webkit-keyframes opacitymed {
  0%, 25%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes opacitymed {
  0%, 25%  { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes opacitymed {
  0%, 25%  { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes opacitymed {
  0%, 25%  { opacity: 0; }
  100% { opacity: 1; }
}
@-webkit-keyframes slidetobottom {
  0%  { transform: translate(0px,0px)}
  100% { transform: translate(0px,800px)}
}
@-moz-keyframes slidetobottom {
  0% { transform: translate(0px,0px)}
  100% { transform: translate(0px,800px)}
}
@-o-keyframes slidetobottom {
  0% { transform: translate(0px,0px)}
  100% { transform: translate(0px,800px)}
}
@keyframes slidetobottom {
  0% { transform: translate(0px,0px)}
  100% { transform: translate(0px,800px)}
}

.pagebreak-mob{
  margin-top: 20px;
  border: 1px solid #b0ffee;
}

.portfolio-mob h2{
  margin-top: 20px;
  margin-bottom: 25px;
  color: #01a093;
  font-family: 'Lato', sans-serif;
}
.portfolio-mob p{
  margin-bottom: 30px;
}
